
.example-spacer {
    flex: 1 1 auto;
  }
  
  a{
    text-decoration: black;
    margin-left: 20px;
  
  }
  .mat-toolbar{
    margin: 0;
    padding: 20px;
  }
   
  mat-icon{
    transform: scale(1.8);
  }